/* Horizontal Spaced */
.space {
    padding: 20px;
    
}

.space2 {
    padding-bottom: 50px;
    padding-top: 50px;
}


/* List */
.takeaway {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list {
    display: inline-table;
}


/* Buttons */



.button1 {
    background-color: #f44336;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #f44336;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button3 {
    background-color: #f44336;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}


/* navigation */


.nav1 {
    display: inline-block;
    background-color: #f44336;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.nav2 {
    background-color: #f44336; 
    border: none;
    color: white;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.nav2:hover {
    background-color: #3e8e41;
}

.nav2 a:link, a:visited {
    color: white;
    text-decoration: none;
}

.redtext {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.redtext a:link {
    color: red;
}

.graytext {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.graytext a:link {
    color: #D3D3D3;
}


/* comment stream */

.img1 {
   padding-right:10px ;
}

.textright {
    padding-left: 90px;
}

.textright2 {
    padding-left: 40px;
}

.time {
    font-size: 11px;
    color: #D3D3D3;
}

.img2 {
   padding-right:10px ;
   padding-left: 90px ;
}

/*tabs */
.tabs input[type=radio] {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      .tabs {
        width: 650px;
        float: none;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 75px auto;
      }
      .tabs li{
        float: left;
      }
      .tabs label {
          display: block;
          padding: 10px 20px;
          border-radius: 2px 2px 0 0;
          color: #08C;
          font-size: 24px;
          font-weight: normal;
          font-family: 'Lily Script One', helveti;
          background: rgba(255,255,255,0.2);
          cursor: pointer;
          position: relative;
          top: 3px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
      }
      .tabs label:hover {
        background: rgba(255,255,255,0.5);
        top: 0;
      }
       
      [id^=tab]:checked + label {
        background: #08C;
        color: white;
        top: 0;
      }
       
      [id^=tab]:checked ~ [id^=tab-content] {
          display: block;
      }
      .tab-content{
        z-index: 2;
        display: none;
        text-align: left;
        width: 100%;
        font-size: 20px;
        line-height: 140%;
        padding-top: 10px;
        background: #08C;
        padding: 15px;
        color: white;
        position: absolute;
        top: 53px;
        left: 0;
        box-sizing: border-box;
        -webkit-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
      }